body {
	font-family: verdana;
	background: white;
	margin: 0;
	padding: 114px 0 0;
	background: url('../images/mid.jpg') center repeat;
	overflow-x: hidden;
}
body.home{
	padding: 114px 0 89;
}
.bold{
	font-weight: bold;
}

.leftFloat{
	float: left;
}
.rightFloat{
	float: right;
}
.clearall{
	clear: both;
}
.clearContent{
	height: 30px;
}
.centerImg{
	margin: 0 auto;
	display: block;
}

/* Container */
#pageContainer{
	width: 100%;
	margin:0 auto;
	position: relative;
  	z-index: 0;
}
.innerContainer{
	width: 996px;
	margin: 0 auto;
	padding: 0 28px;
}
/*.innerContainer.headerantara {
	width: auto;
}*/

#innerPage {
	min-height: calc(100vh - 114px - 66px);
}
.innerContainer > .leftSection{
	width: 246px;
	display: inline-block;
	vertical-align: top;
	padding: 195px 0 0;
}
.innerContainer > .leftSection.small{
	width: 150px;
}	
.innerContainer > .rightSection{
	width: 692px;
	padding-left: 50px;
	display: inline-block;
	border-left: 2px dotted #100f0e;
	margin-top: 20px;
}
.innerContainer > .rightSection.small{
	width: 808px;
  	padding-left: 30px;
}
.innerContainer > .rightSection.fullPage{
	width: 100%;
	padding-left: 0;
	border-left: none;
	display: inline-block;
	margin-top: 20px;
}
.rightSection > span.btmBorder{
	border-bottom: 2px dotted #100f0e;
	height: 1px;
	display: block;
	margin-bottom: 20px;
	margin-top: 5px;
}

/* GLOBAL Page Heading */
.headCont{
	display: block;;
	text-align: center;
	margin: 0 0 20px;
}
.headCont.innerPage{
	margin-bottom: 0;
}
h1{
	font-family: "Baskerville";
    src: url(../fonts/Baskerville.ttc);
	color: #58595b;
	font-size: 24px;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	position: relative;
	display: inline-block;
}
h1.inner{
	margin-top: 0;
}
h1 > span{
	font-size: 14px;
	display: block;
	font-style: normal;
}
h1:before{
	content:'.';
	background: url('../images/head_icn.png') center repeat;
	width: 32px;
	height: 32px;
	font-size: 13px;
	position: absolute;
	left: -50px;
	top: 5px;
}
h1:after{
	content:'.';
	background: url('../images/head_icn.png') center repeat;
	width: 32px;
	height: 32px;
	font-size: 13px;
	position: absolute;
	right: -50px;
	top: 5px;
}
h1.inner:before{
	top: 0;
}
h1.inner:after{
	top: 0;
}

img.zoom_img{
	-moz-transition:-moz-transform 0.5s ease-in; 
	-webkit-transition:-webkit-transform 0.5s ease-in; 
	-o-transition:-o-transform 0.5s ease-in;
	width:50%;
	height: auto;
}
img.zoom_img:hover{
	-moz-transform:scale(1.5); 
	-webkit-transform:scale(1.5);
	-o-transform:scale(1.5);
}

.an_inline {
 	display: inline !important;
}

.an_vtop{
	vertical-align: top;
}

.margin_t10 {
	margin-top: 10px !important;
}