.optional-banner {display:none}

.optional-menu {display:none}

.optional {display:none;}

/*  980px  */
@media all and (max-width: 1159px) {

.innerContainer, .scroll {width:95%;}

#WhoWeAre a img {margin:0px 0px 0px 30px ;}

#letTalk a {margin:0px 0px 0px 35px;}

.footElement {padding:0px 18px;}

.innerContainer > .leftSection {padding: 195px 0 0;vertical-align: top;width: 207px;}

.innerContainer > .rightSection {border-left: 2px dotted #100f0e; margin-top: 20px;padding-left: 44px;width: 672px;}

footer.innerFoot { height: 56px;}

footer.innerFoot .footElement {margin: 0;min-height: 0;padding: 0 8px;}

.scroll::after {  content: ""; border-bottom:2px dotted #000; padding-bottom:15px; }

.scroll.sml::after {  content: ""; border-bottom:2px dotted #000; padding-bottom:15px;}

.scroll.sml {    width: 100%;}




.innerContainer > .rightSection {   padding-left: 30px;}

.thumbnails { width: 513px;}



div.drdText {min-height: 400px;width: 393px;}


.innerContainer > .rightSection.small {
    padding-left: 30px;
    width: 732px;
}




#letTalk .borderDiv {    margin: 0 23px;}




#letTalk a {
    margin: 0 0 0 0px;
    text-align: left;
}




.footElement > span {
    color: #fff;
    display: block;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    margin-top: 3px;
}

.career {
    background: #fff url("../images/career.png") repeat-x scroll left top;
    border-radius: 8px;
    font-size: 11px;
    min-height: 260px;
    padding: 20px 30px;
    width: 90%;
}



.thumbnails.directors {
    display: block;
    margin: auto;
    text-align: center;
    width: 400px;
}


.blogArea {   width: 515px; height:500px;}


.blogSnippet {   width: 480px; text-align:left; padding:0px;}

.rightSection .blogContent {text-align:left; padding:0px;}

	
}



















/*  768px  */
@media all and (max-width: 979px) {

.slideContainer { height:355px;}

#WhoWeAre a img {margin:0px 0px 0px 10px; width:220px; height:auto;}

#letTalk a {margin:0px 0px 0px 0px;  height:auto; background-size:100% auto;}

.blogContentlink > img {   width: 116px;}

#letTalk .borderDiv .letsImg, #letTalk .borderDiv .fbContent {   height: 314px !important;   overflow: hidden;}

.blogLogo {   padding: 10px 0 4px;}

footer .footElement:nth-child(1) {display:none;}

footer .footElement:nth-child(2) {padding-left:0px;}

footer .footElement:nth-child(3) {margin-left:50px; padding-right:70px;}
	
	
.innerContainer > .leftSection {padding: 195px 0 0;vertical-align: top;width: 199px;}

.innerContainer > .rightSection {border-left: 2px dotted #100f0e; margin-top: 20px;padding-left: 44px;width: 471px;}	

#antWay a {font-size: 10px;font-weight: 700;}

.bold.big,.big {   width: 55%;}


.innerContainer {    padding: 0;}	

#youtubeDivPlaylist {
    height: 266px;
    overflow: hidden;
    width: 173px;
	padding:0px;
}

.leftSection > a {    margin: 0 14px 25px 0px;}

.innerContainer > .leftSection {    width: 150px;}

.innerContainer > .rightSection {  margin-top: 20px;    padding-left: 30px;    width: 520px;}

.innerContainer > .rightSection.small {    width: 540px;}

#innerPage #letTalk a {   width: 170px; height: 300px;}



.press {  height: auto;    width: 490px;}

span.leftArw { left: -25px;}

span.rightArw {  right: -19px;}

.rightSection .videoPlayer {   height: 263px;  width: 475px;	background-size:100% auto;}

#innerPage .picCont.drd {width: 250px;  margin: 0 20px 0 0;}

div.drdText {   width: 240px;}


#innerPage .picCont.ourTeam {
    background: rgba(0, 0, 0, 0) url("../images/teamFrame.png") no-repeat scroll left top;
    float: none;
    height: 248px;
    margin: 50px auto 54px;
    position: relative;
    width: 159px;
}




#letTalk .borderDiv {
    margin: 5px;
}

#letTalk .borderDiv {
    height: 357px;
    width: 229px;
	background-size:100% auto;
}



#letTalk .borderDiv .letsImg, #letTalk .borderDiv .fbContent {
    background-color: #fff;
    float: left;
    left: 20px;
    position: relative;
    top: 20px;
    width: 186px;
}

.rightSection .videoPlayer > img {
    height: 214px;
    left: 24px;
    position: relative;
    top: 24px;
    width: 423px;
}

.rightSection .videoPlayer > iframe { left: 24px !important; top: 24px !important; width: 423px;  height: 214px;}


.blogArea {   width: 325px; height:725px;}


.blogSnippet {   width: 300px; text-align:left; padding:0px;}

 
}












/*  640px  */
@media all and (max-width: 767px) {

.slideContainer { height:298px;}

#WhoWeAre a img {margin:0px 7px 0px 6px; width:180px; height:auto;}

#letTalk a {margin:0px 6px 0px 2px; width:185px; height:auto; background-size:100% auto; height:300px;}


footer .footElement:nth-child(3) {margin-left:0px; padding-right:0px; padding-left:0px;}

.innerContainer {   margin: 0 auto;    padding: 0 20px; width:93%;}

.videoPlayer > img {   height: 260px;    left: 29px;    position: relative;    top: 30px;    width: 89.5%;}

.videoPlayer > span.playBtn {top: -43px;}

.thumbCont, .videoPlayer {   width: 97%; background-size:100% auto;}

.thumbCont {   margin: 30px auto;    text-align: center;    width: 97%;}

.thumbCont a img {  width: 106px; height:53px;}

.thumbCont a {margin: 0 8px; width:122px; background-size:100% auto;}

.thumbCont a span.play {    left: 51px;    width: 19px; top:8px;}

.carousel-control { margin-top: 10px;}

/*headr*/
nav span span {
    background: #eae5c8 none repeat scroll 0 0;
    border-radius: 5px;
    display: none;
    font-size: 11px;
    left: 74px;
    padding: 4px;
    position: absolute;
    top: 15px;
    z-index: 9999;
}


nav span span#asp {
    left: 292px;
}
.innerContainer > .leftSection {
    padding: 195px 0 0;
    vertical-align: top;
    width: 167px;
}
.innerContainer > .rightSection {
    border-left: 2px dotted #100f0e;
    margin-top: 20px;
    padding-left: 44px;
    width: 368px;
}
.innerContainer > .rightSection.small {
    padding-left: 30px;
    width: 391px;
}
/*
.videoPlayer {
    background: rgba(0, 0, 0, 0) url("../images/video.png") no-repeat scroll left top / 410px 267px;
    height: 258px;
    margin: 0 auto;
    position: relative;
    width: 406px;
}*/
span.rightArw {
    background: rgba(0, 0, 0, 0) url("../images/rightArw.png") no-repeat scroll left top;
    cursor: pointer;
    display: block;
    height: 16px;
    position: absolute;
    right: -15px;
    top: 50%;
    width: 10px;
}
span.leftArw {
    background: rgba(0, 0, 0, 0) url("../images/leftArw.png") no-repeat scroll left top;
    cursor: pointer;
    display: block;
    height: 16px;
    left: -16px;
    position: absolute;
    top: 50%;
    width: 10px;
}
 
.centerImg {width:50%;}



.innerContainer > .rightSection {   padding-left: 25px; width: 393px;}	

.career {    padding: 10px 15px;    width: 100%; box-sizing:border-box;}

form div {    margin: 0 0 15px;    width: 100%;}

form div input {   width: 100%;}

.div1 {   width: 100%;}


#innerPage #letTalk a {   width: 120px; height: 300px;}


.press {   width: 390px;}

.pressThumb span {  margin: 0 20px 15px;}

.rightSection .videoPlayer {   height: 210px;  width: 375px;	background-size:100% auto;}

.rightSection .videoPlayer > span.playBtn {   top: 0;}

h1 {  font-size: 18px;}


#innerPage .picCont.drd.right, #innerPage .picCont.drd {   margin: 10px auto 20px;    width: 250px; float:none;}

div.drdText {   width: 100%;}

#innerPage .picCont.ourBelief {   height: 251px;    width: 380px; background-size:100% auto; margin-top:10px;}

#innerPage .picCont.ourBelief > img {   height: 195px;    left: 21px;    position: relative;    top: 21px;    width: 338px;}

.rightSection .thumbnails {   width: 385px;}

nav {
    font-size: 10px;
    font-weight: bold;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
	font-family:Arial, Helvetica, sans-serif;
}


.footElement > span {
    color: #fff;
    display: block;
    font-family: arial;
    font-size: 12px;
    margin-top: -4px;
}



footer .footElement.noBorder {
    float: right;
}

footer .footElement:nth-child(3) {
    padding-left: 16px;
    padding-right: 16px;
}


.footElement > span {
    color: #fff;
    display: block;
    font-family: arial;
    font-size: 11px;
    margin-top: 0;
}



#letTalk .borderDiv {
    background-size: 100% auto;
    height: 300px;
    width: 182px;
}




#letTalk .borderDiv .letsImg, #letTalk .borderDiv .fbContent {
    background-color: #fff;
    float: left;
    left: 16px;
    position: relative;
    top: 16px;
    width: 148px;
}

.ytLogo img{
width:60% !important;
}



#youtubeDivPlaylist {
    height: 203px;
    overflow: hidden;
    padding: 0;
    width: 147px;
}


#letTalk .borderDiv .letsImg, #letTalk .borderDiv .fbContent {
    height: 249px !important;
    overflow: hidden;
}

.blogContentlink {
    font-size: 10px;
    line-height: 12px;
}

.blogContent {   padding: 0 20px; line-height:12px;}



.videoPlayer > iframe {   width: 517px;    height: 262px; left:29px !important; top:29px !important;}


.rightSection .videoPlayer > img {
    height: 168px;
    left: 20px;
    position: relative;
    top: 20px;
    width: 333px;
}

.rightSection .videoPlayer > iframe {
    height: 171px;
    left: 18px !important;
    top: 18px !important;
    width: 336px;
}



.blogArea {
    height: auto;
    margin: 0;
    overflow: visible;
    padding: 0;
    width: 100%;
}


.rightSection .blogSnippet {   width: 100%;}

.rightSection .blogContent {    line-height: 20px;}

.searchArea {   margin: 20px 0;    width: 100%;}

.verticalborder {   border-left: 0 dotted #100f0e; display:none !important;}




}










/*  480px  */
@media all and (max-width: 639px) {
	
body {padding-top:0px;}





header{position:relative;}
	
.innerContainer {   margin: 0 auto;    padding: 0 20px; width: 435px;}	

.topHeader a.arLogo {    background: rgba(0, 0, 0, 0) url("../images/logo.png") no-repeat scroll left top / 200px auto !important;    height: 53px;    margin: 17px 0 0;   text-indent: -9999px;    width: 200px; background-size:200px auto !important;}

.slideContainer {   height: 230px;}

.topHeader .maxEnt {margin: 22px 0 0;}

nav {   margin: 0px;    position: absolute;    text-align: left;    width: 150px;	background:#5c432d; top:102px; left:0px; display:none;}

nav a{ display:block; border-bottom:1px solid #37281b; color:#fff; padding:7px;}

nav a:hover { background:#22170d; color:#fff;}

nav span span {
    background: #22170d none repeat scroll 0 0;
    border-radius: 0px;
    display: none;
    font-size: 11px;
    left: 150px;
    padding: 0px;
    position: absolute;
    top: 28px;
    z-index: 9999;
	width:160px;
	font-family:Arial, Helvetica, sans-serif;
}

nav span:nth-child(3) span {top: 57px;}

.navShadow {display:none;}

nav a {   margin: 0 0px;}

nav span a { margin: 0 0px;}

nav a.active, nav a.active:hover {   color: #fff;}

nav span:hover{background: #22170d;}

header {   min-height: 66px;}

.topHeader {   height: 66px;}

.scroll > a { float:left;}

.optional-menu {display:block; padding:10px; background:#37281b; color:#fff; font-weight:900; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; background-image:url(../images/as1.png); background-repeat:no-repeat; background-position:right center; cursor:pointer;  font-size: 14px;}

.carouselMessage { right: 0;   top: 12%;    width: 290px;	background-size:100% auto;}

.carousel-caption p {   font-size: 12px; margin-top:30px;}

.carousel-control {   margin-top: 0;}

#WhoWeAre a img {margin:0px 3px 0px 0px; width:138px; height:auto;}

#letTalk {
    display: block;
    float: none;
    margin: auto;
    width: 425px;
}


#letTalk a {margin:0px 0px 0px 0px; width:136px; height:auto; background-size:100% auto; height:220px;}


footer .footElement.noBorder {   display:none;}

.footElement {   border-right: 0 solid #fff;}

footer .footElement:nth-child(2) {  width: 290px;}

footer .footElement:nth-child(3) {   margin-top: 35px;}


.videoPlayer > img {
    height: 196px;
    left: 22px;
    position: relative;
    top: 22px;
    width: 89.5%;
}

.videoPlayer { height:265px;}


.thumbCont a {  margin: 0px 21px 15px 21px;}

.carousel-control {    height: 38px;    left: 0px;    margin-top: 0px;    position: absolute;    top: 35%;    width: 39px;	background-size:100%; auto;}

.carousel-control.right {background-size:100%; auto; right:0px;}

.thumbCont {display:none;}




.innerContainer > .leftSection {
    padding: 165px 0 0;
    vertical-align: top;
    width: 168px;
}

.leftSection > a {
    color: #59595b;
    display: block;
    font-size: 11px;
    margin: 0 2px 24px;
    text-decoration: none;
    text-transform: uppercase;
}

.innerContainer > .rightSection {
    border-left: 2px dotted #100f0e;
    margin-top: 20px;
    padding-left: 44px;
    width: 208px;


}


.innerContainer > .leftSection {   padding: 20px 0 0;    vertical-align: top;    width: 100%;}

.leftSection > a { display: inline-block;    margin: 0 20px 10px 0px;}

.innerContainer > .rightSection {   border-left: 0px dotted #100f0e;    margin-top: 20px;    padding-left: 0px;    width: 100%;}

.div1 {  width: 99%;}

form div {  width: 98%;}


.innerContainer > .leftSection.small {  width: 100%;}

.innerContainer > .rightSection.small {   padding-left: 0;    width: 100%;}


#innerPage #letTalk a {   height: 220px;  width: 136px;}

#letTalk a.small {  margin: 0;}

.rightSection .videoPlayer {   height: 160px;  width: 290px;	background-size:100% auto;}

.rightSection .videoPlayer > span.playBtn {   top: 0;}

.rightSection .thumbnails {  width: 94%;}


.scroll::after {  width:100%; margin:0px;}

.scroll.sml::after { width:100%; margin:0px;}

#letTalk .borderDiv {
    background-size: 100% auto;
    height: 301px;
    width: 127px;
}



#letTalk .borderDiv .letsImg, #letTalk .borderDiv .fbContent {
    background-color: #fff;
    float: left;
    left: 12px;
    position: relative;
    top: 11px;
    width: 103px;
}



#youtubeDivPlaylist ul table td{display:block;}


#youtubeDivPlaylist {
    height: 144px;
    overflow: hidden;
    padding: 0;
    width: 98px;
}

#letTalk .borderDiv {
    background-size: 100% auto;
    height: 201px;
    width: 127px;
}

nav span span#asp {
    left: 150px;
    top: 95px;
}


#letTalk .borderDiv .letsImg, #letTalk .borderDiv .fbContent {
    height: 170px !important;
    overflow: hidden;
}

.blogContentlink {
    font-size: 10px;
    line-height: 12px;
}

.blogContent {   padding: 0 20px; line-height:12px;}


.blogContentlink > img {
    width: 88px;
}

.videoPlayer > iframe {
    height: 192px;
    left: 20px !important;
    top: 21px !important;
    width: 378px;
}

.rightSection .videoPlayer > iframe {
    height: 132px;
    left: 14px !important;
    top: 14px !important;
    width: 259px;
}


.rightSection .videoPlayer > img {
    height: 130px;
    left: 15px;
    position: relative;
    top: 15px;
    width: 259px;
}


form div select, #txtTitle {width:100% !important;} 	

.mapview iframe{width:100% !important; height:200px !important;  margin-bottom:15px; border:1px solid #ccc !important;}

.mapContainer {   margin: 30px 0 0;   width: 90%;}

}





/*  360px  */
@media all and (max-width: 479px) {
	
.topHeader .maxEnt {  display: none;}

.innerContainer {  padding: 0; width: 91%}

.topHeader a.arLogo {  width: 97%;  background-size:200px auto; background-position:center top;}

.carouselMessage {   width: 260px;}

.carousel-caption p {   font-size: 9px;    font-weight: bold;    margin-left: -10px;    margin-top: 30px;    width: 224px;}

.slideContainer {  height: 160px;}

.scroll > a, .scroll > a.scrollLink {   float: none;}


#letTalk {   width: 100%;}

#WhoWeAre a {display:none;}


#letTalk a {  background-size: 100% auto;    height: 430px;    margin: 0 auto 0 auto;    width: 260px;	display:block;	text-align:center;}
 

#letTalk a img {   left: -1px;    top: 23px;    width: 211px;}

.footElement > span {  color: #fff;   display: block;    font-family: arial;    font-size: 10px;    font-weight: bold;    margin-top: 8px;}

footer .footElement:nth-child(2) {  width: 225px;  padding-right: 10px;}


.thumbCont a {   margin: 0 7px 28px;}

.videoPlayer > img {  height: 147px;    left: 16px;    position: relative;    top: 17px;    width: 89.5%;}

.videoPlayer {   height: 205px;}

.thumbCont {   margin: 10px auto;}

.videoPlayer > span.playBtn {   top: -4px;}
	
.optional {display:block; text-align:center; }

.optional img{margin-bottom:13px;}

#letTalk a {display:none;}


.career {   font-size: 9px; padding: 5px 5px;}

span.leftArw, span.rightArw {display:none;}

.pressThumb span {  margin: 0 6px 15px;}

h1 { font-size: 16px;   font-weight: bold;}

#innerPage .picCont.drdSml {  height: 205px;    margin: 10px 5px;    width: 300px; background-size:100% auto;}	

#innerPage .picCont.drdSml > img {    height: 160px;    left: 1px;        top: 14px;    width: 273px;}

#innerPage .picCont.ourBelief {   height: 251px;    width: 315px; background-size:100% auto; margin-top:10px;}

#innerPage .picCont.ourBelief > img {   height: 151px;    left: 17px;    position: relative;    top: 17px;    width: 281px;}

.thumbnails.directors {   width: 320px;}

.thumbnails.directors br{   display:none;}

.thumbnails div {
    height: 80px;
    margin: 0 10px 60px;
    width: 85px;
	background-size:100% auto !important;
}

.thumbnails.directors div img {
    height: 63px;
    width: 69px;
}

.rightSection .thumbnails {  width: 100%;}

.rightSection  .thumbnails div img {
    cursor: pointer;
    height: 63px;
    left: 0;
    position: relative;
    top: 8px;
    width: 71px;
}

.footElement {  margin: 21px 0 0;}


.footElement > span {
    color: #fff;
    display: block;
    font-family: arial;
    font-size: 9px;
    font-weight: bold;
    line-height: 14px;
    margin-top: 8px;
}

footer .footElement:nth-child(3) {
    padding-left: 0;
    padding-right: 0;
}

#letTalk .borderDiv {display:none;}

.footElement br{display:none;}

.scroll > a.scrollLink { display: none;}

.scroll::after {    padding-bottom: 15px;}

.scroll::after {    top: 50px;}

.lowHght {   display: none;}

.optional-banner {display:block; width:100%; height:auto;}

.optional-banner img { width:100%; height:auto;}

.slideContainer {   display: none;}

.videoPlayer > iframe {
    height: 144px;
    left: 15px !important;
    top: 16px !important;
    width: 285px;
}

}






/*  320px  */
@media all and (max-width: 359px) {

.carouselMessage { width: 240px;}

.slideContainer {   height: 140px;}


.videoPlayer > img {  height: 130px;    left: 14px;    position: relative;    top: 15px;    width: 89.5%;}

.videoPlayer > span.playBtn {  top: -27px;}

.footElement > a > img {   margin: 3px 2px; width:25px; height:auto;}

footer .footElement:nth-child(2) {  width: 225px;  padding-right: 0px;}

.optional img{width:90%; height:auto;}


.career span {    padding: 5px 0;}

.bold.big, .big {   width: 45%;}

.career {   font-size: 9px; padding: 5px 5px;}

.pressThumb span {  margin: 0 10px 15px; width:120px;}

.pressThumb span a.pressFrame {  height: 120px;    width: 120px; background-size:100% auto;}

.pressThumb span a.pressFrame img {  height: auto;   width: 78%;}

#innerPage .picCont.drdSml {  height: 205px;    margin: 10px 5px;    width: 280px; background-size:100% auto;}	

#innerPage .picCont.drdSml > img {   height: 149px;    left: 1px;    top: 13px;    width: 254px;}

#innerPage .picCont.ourBelief {   height: 180px;    width: 285px; background-size:100% auto; margin-top:10px;}

#innerPage .picCont.ourBelief > img {   height: 145px;    left: 16px;    position: relative;    top: 16px;    width: 253px;}

.thumbnails.directors {  width: 293px;}

.thumbnails div {    margin: 0 4px 60px;}

.videoPlayer > iframe {
    height: 127px;
    left: 14px !important;
    top: 14px !important;
    width: 252px;
}
	
}