#letTalk .borderDiv{
	width: 258px;
	height: 401px;
	margin: 0 35px;
	display: inline-block;
	background: url('../images/mandalFrame.png') left top no-repeat;
}

.antaraSpeak .borderDiv{
  margin:0 3px !important;
}
#letTalk .borderDiv .letsImg,
#letTalk .borderDiv .fbContent{
	position: relative;
	top: 23px;
	left: 23px;
	float: left;
	background-color: #fff;
	width: 210px;
}
#letTalk a.small{
	margin: 0 3px;
}

.ytLogo {
	text-align: center;
}

.clip > span img {
                width: 56px;
                height: 32px;
            }

            #youtubeDivPlaylist {
                height: 306px;
                overflow: hidden;
                width: 190px;
                padding: 0px 10px;
            }

            #youtubeDivPlaylist h4 {
                font-size: 10px;
                font-family: verdana;
                font-weight: bold;
                font-style: normal;
                margin: 0;
                padding: 0;
            }

            #youtubeDivPlaylist td > span {
                font-size: xx-small;
            }

            #youtubeDivPlaylist ul {
                list-style-type: none;
                padding: 0;
                background-color: white;
                float: left;
            }