footer{
	width: 100%;
	margin: 0 auto;
	background: url('../images/footer.png') left top repeat-x;
	height: 89px;
	z-index: 9999;
  	/*position: fixed;*/
  	bottom: 0;
}
.footElement{
	display: inline-block;
	vertical-align: middle;
	padding: 0 24px;
	margin: 33px 0 0;
	border-right: 1px solid #fff;
	min-height: 45px;
}
.footElement > span{
	display: block;
	font-size: 12px;
	color: #fff;
	margin-top: 8px;
}
.footElement a{
	/*position: relative;*/
	top: 3px;
}
.footElement > a > img{
	margin: 0 5px;
}
footer .footElement.noBorder{
	border-right: none;
}

/** Inner Page Footer */
footer.innerFoot{
	height: 55px;
}
footer.innerFoot .footElement{
	display: inline-block;
	padding: 0 15px;
	margin: 0 0;
	min-height: 0px;
	border-right: 1px solid #fff;
}
footer.innerFoot .footElement{
	position: relative;
	top: 19px;
}
footer.innerFoot .footElement span{
	margin-top: 4px;
	margin-bottom: 4px;
}
footer.innerFoot .footElement a{
	top: 0;
}
footer.innerFoot .footElement.noBorder{
	border-right: none;
}

.terms,
.contactEmail {
    color: #fff;
    font-style: normal;
    text-decoration: none;
}

.terms:hover,
.contactEmail:hover {
    color: #fff;
    text-decoration: underline;
}
