#letTalk .borderDiv{
	width: 258px;
	height: 401px;
	margin: 0 35px;
	display: inline-block;
    background-color: #fff;
	background: url('../images/mandalFrame.png') left top no-repeat;
}

.antaraSpeak .borderDiv{
  margin:0 3px !important;
}
#letTalk .borderDiv .letsImg,
#letTalk .borderDiv .fbContent{
	position: relative;
	top: 23px;
	left: 23px;
	float: left;
	background-color: #fff;
	width: 210px;
}
#letTalk a.small{
	margin: 0 3px;
}

.ytLogo,
.blogLogo {
	text-align: center;
}

.blogLogo {
    padding: 30px 0 14px; 
}

.blogContent {
    color:#d27d3d;
    font-size: 11px;
    text-align: center;
    padding:20px;
    line-height: 16px;
    padding-bottom:0px;
}

.blogContentlink{
    color:#d27d3d;
    font-size: 11px;
    text-align: center;
    line-height: 16px;
    text-decoration: none;
}





.signupLink {
    display: block;
    color:#515151;
    text-decoration: none;
    cursor: pointer;
}

.blogsignup {
    border-bottom: 2.5px dotted #d27d3d;
    text-align: center;
    font-size: 12px;
    width:50%; 
    margin: 5px auto 10px;

}


.clip > span img {
                width: 56px;
                height: 32px;
            }

            #youtubeDivPlaylist {
                height: 306px;
                overflow: hidden;
                width: 190px;
                padding: 0px 10px;
            }

            #youtubeDivPlaylist h4 {
                font-size: 10px;
                font-family: verdana;
                font-weight: bold;
                font-style: normal;
                margin: 0;
                padding: 0;
            }

            #youtubeDivPlaylist td > span {
                font-size: xx-small;
            }

            #youtubeDivPlaylist ul {
                list-style-type: none;
                padding: 0;
                background-color: white;
                float: left;
            }

/* popup */

.overlay-pop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  overflow: hidden;
  cursor: pointer;
}
.close-pop {
  background: url(../images/controls1.png) no-repeat -50px 0;
  text-indent: -9999px;
  width: 26px;
  height: 26px;
  position: absolute;
  display: block;
  right: 0;
  margin-right: 33px;
  cursor: pointer;
}
.pop-new {
  position: fixed;
  background-color:#533C2B;
  top: 0;
  left: 50%;
  z-index: 99999;
  overflow: hidden;
  width: 350px;
  margin-left: -184px;
  /*ackground: url(images/pop_bg.png) repeat left top;*/
  padding: 10px;
  color: #2d2d2d;
  font-size: 14px;
  line-height: 19px;
}
.pop-inside {
  padding: 32px 31px 10px;
  margin: 0;
  background: #fff;
  background: url('../images/mid.jpg') center repeat;
  color: #2d2d2d;
  text-align: center;
  height: 176px;
}